

body {
      font-family: 'Maven Pro', sans-serif;
      margin: 0;
      
      background: #fff;
}


.container-two {
 width: 100%;
 background: #fff;
}


.container-three{
  width: 100%;
  background: #E8E8EE;
  padding-top: 20px; 
}


h1 {
  text-align: center;
  padding: 10px 10px 10px 10px;
  margin: 0;
}


h2 {
   text-align: center;
   padding-top: 30px;
}



h3 {
   text-align: center;
}



p {
  width: 95%;
  text-align: center;
  padding-bottom: 25px;
  padding-left: 5px;
  line-height: 1.2em;
}



#portfolio {
  font-size: 20px;
}


.intro {
  margin: 0 5px 0 5px;
  padding: 15px 0 15px 0;
 


}




/*-----Header------*/

.header {
background: #E8E8EE;
width: 100%;
}



.profile-photo{
  display: block;
  width: 65%;
  margin: 0 auto;
}




.nav {
    list-style: none;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.nav li {
  background: #fff;
  padding: 10px;
  margin: 5px;
}

.nav a {
  display: block;
  color: #000;
  text-decoration: none;
}








/*-----Page Images-----*/


 .img {
    display: block;
    margin: 0 auto;
    width: 90%;
  } 
  
/*------Footer------*/

  
  .footer {
    width: 100%;
    border-top: 1px solid #808080;
    
    
    
}

.name-footer {
  float: left;
  padding: 20px 10px 20px 10px;
  font-size: 13px;
  
  
}

.back-top {
  float: right;
  padding: 20px 10px 20px 10px;
  font-size: 13px;
 
  
}

 
  .back-top a {
  text-decoration: none;
  color: #000;

}



.footer-nav {
  display: none;
}

  
  
/*------Media Queries-----*/


@media screen and (min-width: 768px) {
  
  .group:after {
    content: "";
    display: table;
    clear: both;
  }


    h1 {
       text-align: center;
       font-size: 16px;
  }
  
  
  
  .nav {
       list-style: none;
  }
  
  
  
  .nav li {
    display: inline;
    padding: 0 17px 0 17px;
    font-size: 14px;
  }
  
  
  .nav a {
    display: inline;
  }
  
  
  .intro {
    width: 40%;
    float: left;
    text-align: left;
    padding: 0 20px 0 10px;
    background: #E8E8EE;
  }
  
  
  .profile-photo {
    float: right;
    width: 30%; 
    padding: 0 20px 20px 10px;
  }
  
  
  
  
  .col { 
    width: 50%;
    float: left;
  }
  
  
  
  .container-two {
    clear: both;
    height: 900px;
  }
  
  
  .container-three {
    clear: both;
    padding-top: 10px;

  }
  
  
  .back-top {
    display: none;
  }
  
  
  .name-footer {
    padding-top: 20px;
  }
  
  
  
  .footer-nav {
		font-family: 'Maven Pro', sans-serif;
		font-size: 12px;
		list-style: none;
		float: right;
		display: inline;
		margin-top: 0px;
		padding-top: 20px;
	}
	
	.footer-nav li {
		display: inline;
		padding: 0 5px 0 5px;
	}
    
    .footer-nav a {
      text-decoration: none;
      color: #000;
    }
  
  
  .contact-info {
    width: 60%;
    margin: 0 auto 0 auto;
    
    }
  
}


  @media screen and (min-width: 1024px) {
    
    
    
	h1 {
		text-align: left;
		margin: 0 0 20px 5px;
		font-size: 30px;
	}
	
	.nav {
		list-style: none;
		text-align: right;
		margin-top: -60px;
    padding-right: 15px;
	}
	
	.nav a {
		display: inline;
	}
	
	.intro {
		width: 50%;
		font-size: 20px;	
	}
	
	.profile-photo {
		width: 40%;
	}
	
	.col {
		width: 30%;
		float: left;
	}
	
	.img-container,
	.img-container two {
		margin-left: 100px;
    clear: both;
		
	}
	
	.img-container two {
		height: 800px;
    
	}
	
	.img-container three {
		padding-top: 10px;
	}
  
    
    
 
    
	 .footer-nav {
		font-family: 'Maven Pro', sans-serif;
		font-size: 12px;
		list-style: none;
		float: right;
		display: inline;
		margin-top: 0px;
		padding-top: 20px;
	}
	
	.footer-nav li {
		display: inline;
		padding: 0 5px 0 5px;
	}
    
    .footer-nav a {
      text-decoration: none;
      color: #000;
   
    }
      
      
   
  
    
    .container-three {
     padding-top: 30px;
    
    }
    
  
  

  .contact-info {
    width: 50%;
    margin: 0 auto 0 auto;
    
    }
  
  
  
  

}


